In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('QueryResults.csv', names=['DATE', 'TAG', 'POSTS'], header=0)

eading the amount of posts each language has

In [3]:
df.groupby('TAG').sum()

                                                         DATE    POSTS
TAG
assembly    2008-08-01 00:00:002008-09-01 00:00:002008-10-...    34852
c           2008-08-01 00:00:002008-09-01 00:00:002008-10-...   336042
c#          2008-07-01 00:00:002008-08-01 00:00:002008-09-...  1423530
c++         2008-08-01 00:00:002008-09-01 00:00:002008-10-...   684210
delphi      2008-08-01 00:00:002008-09-01 00:00:002008-10-...    46212
go          2009-11-01 00:00:002009-12-01 00:00:002010-01-...    47499
java        2008-08-01 00:00:002008-09-01 00:00:002008-10-...  1696403
javascript  2008-08-01 00:00:002008-09-01 00:00:002008-10-...  2056510
perl        2008-08-01 00:00:002008-09-01 00:00:002008-10-...    65286
php         2008-08-01 00:00:002008-09-01 00:00:002008-10-...  1361988
python      2008-08-01 00:00:002008-09-01 00:00:002008-10-...  1496210
r           2008-09-01 00:00:002008-11-01 00:00:002008-12-...   356799
ruby        2008-08-01 00:00:002008-09-01 00:00:002008-10-...   214582
swift       2009-01-01 00:00:002009-02-01 00:00:002009-03-...   273055

umber of months of entries for each language

In [4]:
df.groupby('TAG').count()

            DATE  POSTS
TAG
assembly     144    144
c            144    144
c#           145    145
c++          144    144
delphi       144    144
go           129    129
java         144    144
javascript   144    144
perl         144    144
php          144    144
python       144    144
r            142    142
ruby         144    144
swift        135    135

looking at the dates and changing the format

In [5]:
df.DATE[1]
df.DATE = pd.to_datetime(df.DATE)
#changes all of the date format 
df.head()

        DATE         TAG  POSTS
0 2008-07-01          c#      3
1 2008-08-01    assembly      8
2 2008-08-01  javascript    162
3 2008-08-01           c     85
4 2008-08-01      python    124

hange the order of the table

In [6]:
table = df.pivot(index='DATE', columns='TAG', values='POSTS')

remove the NaN values

In [7]:
table.count()
table.fillna(0, inplace=True) 
table.fillna(0)

TAG,assembly,c,c#,c++,delphi,go,java,javascript,perl,php,python,r,ruby,swift
DATE,,,,,,,,,,,,,,
2008-07-01,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2008-08-01,8.0,85.0,511.0,164.0,14.0,0.0,222.0,162.0,28.0,161.0,124.0,0.0,73.0,0.0
2008-09-01,28.0,321.0,1649.0,755.0,105.0,0.0,1137.0,640.0,131.0,482.0,542.0,6.0,290.0,0.0
2008-10-01,15.0,303.0,1989.0,811.0,112.0,0.0,1153.0,725.0,127.0,617.0,510.0,0.0,249.0,0.0
2008-11-01,17.0,259.0,1730.0,735.0,141.0,0.0,958.0,579.0,97.0,504.0,452.0,1.0,160.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-01,317.0,2670.0,8954.0,5107.0,181.0,719.0,13253.0,20483.0,215.0,6672.0,26673.0,5761.0,780.0,3434.0
2020-04-01,406.0,3472.0,10042.0,6820.0,250.0,887.0,15377.0,24634.0,240.0,8060.0,32605.0,7047.0,860.0,4015.0
2020-05-01,386.0,3602.0,9923.0,7063.0,221.0,826.0,14711.0,25196.0,228.0,7917.0,34478.0,6833.0,774.0,4066.0
2020-06-01,363.0,2757.0,9064.0,6161.0,214.0,765.0,13015.0,23360.0,203.0,7188.0,31817.0,6249.0,670.0,3733.0
2020-07-01,298.0,2294.0,9145.0,5756.0,212.0,743.0,12723.0,23802.0,182.0,7334.0,31261.0,5694.0,775.0,3607.0

In [8]:
table.isna().values.any()

False